First, let's import all the packages we will need for this project

In [1]:
import requests
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

Configure pandas

In [2]:
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_rows', 20)

To see the disease development over time, let's access the Covid-19 data API kindly provided by the Johns Hopkins CSSE

In [3]:
r = requests.get('https://api.covid19api.com/all')
data_dic = r.json()
data = pd.DataFrame.from_dict(data_dic)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z
1,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z
2,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z
3,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z
4,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...
326704,Zimbabwe,ZW,,,,-19.02,29.15,25,3,2,0,2020-04-19T00:00:00Z
326705,Zimbabwe,ZW,,,,-19.02,29.15,25,3,2,0,2020-04-20T00:00:00Z
326706,Zimbabwe,ZW,,,,-19.02,29.15,28,3,2,0,2020-04-21T00:00:00Z
326707,Zimbabwe,ZW,,,,-19.02,29.15,28,4,2,0,2020-04-22T00:00:00Z
326708,Zimbabwe,ZW,,,,-19.02,29.15,28,4,2,0,2020-04-23T00:00:00Z

In [4]:
data['Date'] = pd.to_datetime(data['Date'], format = '%Y-%m-%dT%H:%M:%SZ')

In [19]:
yesterday = datetime.date(datetime.today() - timedelta(1))
filter_country = data['Country'] == 'United States of America'
filter_date = data['Date'] == str(yesterday)
filter_province = data['Province'] != ''
data[filter_date & filter_province]['Country'].value_counts()

United States of America    3252
China                         33
Canada                        13
United Kingdom                10
France                        10
Australia                      8
Netherlands                    4
Denmark                        2
Name: Country, dtype: int64