First, let's import all the packages we will need for this project

In [1]:
import requests
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

Configure pandas

In [31]:
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_rows', 250)
pd.set_option('display.min_rows', None)

To see the disease development over time, let's access the Covid-19 data API kindly provided by the Johns Hopkins CSSE

In [27]:
r = requests.get('https://api.covid19api.com/')
instructions_dic = r.json()
instructions = pd.DataFrame.from_dict(instructions_dic).transpose()

list_countries = ['spain', 'italy', 'france', 'germany', 'united-kingdom']
data = []

for country in list_countries:
    r = requests.get(f'https://api.covid19api.com/country/{country}')
    data_dic = r.json()
    raw_data = pd.DataFrame.from_dict(data_dic)
    
    filter_province = raw_data['Province'] != ''
    raw_data.drop(index = raw_data[filter_province].index, inplace = True)
    
    raw_data.drop(columns = ['CountryCode', 'Province', 'City', 'CityCode', 'Lat', 'Lon', 'Active'], inplace = True)
    raw_data['Date'] = pd.to_datetime(raw_data['Date'], format = '%Y-%m-%dT%H:%M:%SZ')
    
    data.append(raw_data)

data = pd.concat(data)

In [37]:
country_group = data.groupby('Country')
country_group.get_group('Spain')

   Country  Confirmed  Deaths  Recovered       Date
0    Spain          0       0          0 2020-01-22
1    Spain          0       0          0 2020-01-23
2    Spain          0       0          0 2020-01-24
3    Spain          0       0          0 2020-01-25
4    Spain          0       0          0 2020-01-26
5    Spain          0       0          0 2020-01-27
6    Spain          0       0          0 2020-01-28
7    Spain          0       0          0 2020-01-29
8    Spain          0       0          0 2020-01-30
9    Spain          0       0          0 2020-01-31
10   Spain          1       0          0 2020-02-01
11   Spain          1       0          0 2020-02-02
12   Spain          1       0          0 2020-02-03
13   Spain          1       0          0 2020-02-04
14   Spain          1       0          0 2020-02-05
15   Spain          1       0          0 2020-02-06
16   Spain          1       0          0 2020-02-07
17   Spain          1       0          0 2020-02-08
18   Spain          2       0          0 2020-02-09
19   Spain          2       0          0 2020-02-10
20   Spain          2       0          0 2020-02-11
21   Spain          2       0          0 2020-02-12
22   Spain          2       0          0 2020-02-13
23   Spain          2       0          0 2020-02-14
24   Spain          2       0          2 2020-02-15
25   Spain          2       0          2 2020-02-16
26   Spain          2       0          2 2020-02-17
27   Spain          2       0          2 2020-02-18
28   Spain          2       0          2 2020-02-19
29   Spain          2       0          2 2020-02-20
30   Spain          2       0          2 2020-02-21
31   Spain          2       0          2 2020-02-22
32   Spain          2       0          2 2020-02-23
33   Spain          2       0          2 2020-02-24
34   Spain          6       0          2 2020-02-25
35   Spain         13       0          2 2020-02-26
36   Spain         15       0          2 2020-02-27
37   Spain         32       0          2 2020-02-28
38   Spain         45       0          2 2020-02-29
39   Spain         84       0          2 2020-03-01
40   Spain        120       0          2 2020-03-02
41   Spain        165       1          2 2020-03-03
42   Spain        222       2          2 2020-03-04
43   Spain        259       3          2 2020-03-05
44   Spain        400       5          2 2020-03-06
45   Spain        500      10         30 2020-03-07
46   Spain        673      17         30 2020-03-08
47   Spain       1073      28         32 2020-03-09
48   Spain       1695      35         32 2020-03-10
49   Spain       2277      54        183 2020-03-11
50   Spain       2277      55        183 2020-03-12
51   Spain       5232     133        193 2020-03-13
52   Spain       6391     195        517 2020-03-14
53   Spain       7798     289        517 2020-03-15
54   Spain       9942     342        530 2020-03-16
55   Spain      11748     533       1028 2020-03-17
56   Spain      13910     623       1081 2020-03-18
57   Spain      17963     830       1107 2020-03-19
58   Spain      20410    1043       1588 2020-03-20
59   Spain      25374    1375       2125 2020-03-21
60   Spain      28768    1772       2575 2020-03-22
61   Spain      35136    2311       2575 2020-03-23
62   Spain      39885    2808       3794 2020-03-24
63   Spain      49515    3647       5367 2020-03-25
64   Spain      57786    4365       7015 2020-03-26
65   Spain      65719    5138       9357 2020-03-27
66   Spain      73235    5982      12285 2020-03-28
67   Spain      80110    6803      14709 2020-03-29
68   Spain      87956    7716      16780 2020-03-30
69   Spain      95923    8464      19259 2020-03-31
70   Spain     104118    9387      22647 2020-04-01
71   Spain     112065   10348      26743 2020-04-02
72   Spain     119199   11198      30513 2020-04-03
73   Spain     126168   11947      34219 2020-04-04
74   Spain     131646   12641      38080 2020-04-05
75   Spain     136675   13341      40437 2020-04-06
76   Spain     141942   14045      43208 2020-04-07
77   Spain     148220   14792      48021 2020-04-08
78   Spain     153222   15447      52165 2020-04-09
79   Spain     158273   16081      55668 2020-04-10
80   Spain     163027   16606      59109 2020-04-11
81   Spain     166831   17209      62391 2020-04-12
82   Spain     170099   17756      64727 2020-04-13
83   Spain     172541   18056      67504 2020-04-14
84   Spain     177644   18708      70853 2020-04-15
85   Spain     184948   19315      74797 2020-04-16
86   Spain     190839   20002      74797 2020-04-17
87   Spain     191726   20043      74797 2020-04-18
88   Spain     198674   20453      77357 2020-04-19
89   Spain     200210   20852      80587 2020-04-20
90   Spain     204178   21282      82514 2020-04-21
91   Spain     208389   21717      85915 2020-04-22
92   Spain     213024   22157      89250 2020-04-23

In [11]:
data[filter_province]

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
3,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-22T00:00:00Z
18,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-23T00:00:00Z
22,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-24T00:00:00Z
36,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-25T00:00:00Z
51,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-26T00:00:00Z
55,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-27T00:00:00Z
69,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-28T00:00:00Z
84,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-29T00:00:00Z
88,United Kingdom,GB,,,,55.38,-3.44,0,0,0,0,2020-01-30T00:00:00Z
102,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-01-31T00:00:00Z
117,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-01T00:00:00Z
121,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-02T00:00:00Z
135,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-03T00:00:00Z
150,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-04T00:00:00Z
154,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-05T00:00:00Z
168,United Kingdom,GB,,,,55.38,-3.44,2,0,0,0,2020-02-06T00:00:00Z
183,United Kingdom,GB,,,,55.38,-3.44,3,0,0,0,2020-02-07T00:00:00Z
187,United Kingdom,GB,,,,55.38,-3.44,3,0,0,0,2020-02-08T00:00:00Z
202,United Kingdom,GB,,,,55.38,-3.44,3,0,0,0,2020-02-09T00:00:00Z
216,United Kingdom,GB,,,,55.38,-3.44,8,0,0,0,2020-02-10T00:00:00Z
220,United Kingdom,GB,,,,55.38,-3.44,8,0,0,0,2020-02-11T00:00:00Z
235,United Kingdom,GB,,,,55.38,-3.44,9,0,1,0,2020-02-12T00:00:00Z
249,United Kingdom,GB,,,,55.38,-3.44,9,0,1,0,2020-02-13T00:00:00Z
253,United Kingdom,GB,,,,55.38,-3.44,9,0,1,0,2020-02-14T00:00:00Z
268,United Kingdom,GB,,,,55.38,-3.44,9,0,1,0,2020-02-15T00:00:00Z
282,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-16T00:00:00Z
286,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-17T00:00:00Z
301,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-18T00:00:00Z
315,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-19T00:00:00Z
319,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-20T00:00:00Z
334,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-21T00:00:00Z
348,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-22T00:00:00Z
352,United Kingdom,GB,,,,55.38,-3.44,9,0,8,0,2020-02-23T00:00:00Z
367,United Kingdom,GB,,,,55.38,-3.44,13,0,8,0,2020-02-24T00:00:00Z
381,United Kingdom,GB,,,,55.38,-3.44,13,0,8,0,2020-02-25T00:00:00Z
385,United Kingdom,GB,,,,55.38,-3.44,13,0,8,0,2020-02-26T00:00:00Z
400,United Kingdom,GB,,,,55.38,-3.44,15,0,8,0,2020-02-27T00:00:00Z
414,United Kingdom,GB,,,,55.38,-3.44,20,0,8,0,2020-02-28T00:00:00Z
418,United Kingdom,GB,,,,55.38,-3.44,23,0,8,0,2020-02-29T00:00:00Z
433,United Kingdom,GB,,,,55.38,-3.44,36,0,8,0,2020-03-01T00:00:00Z
447,United Kingdom,GB,,,,55.38,-3.44,40,0,8,0,2020-03-02T00:00:00Z
451,United Kingdom,GB,,,,55.38,-3.44,51,0,8,0,2020-03-03T00:00:00Z
466,United Kingdom,GB,,,,55.38,-3.44,85,0,8,0,2020-03-04T00:00:00Z
480,United Kingdom,GB,,,,55.38,-3.44,115,1,8,0,2020-03-05T00:00:00Z
484,United Kingdom,GB,,,,55.38,-3.44,163,2,8,0,2020-03-06T00:00:00Z
499,United Kingdom,GB,,,,55.38,-3.44,206,2,18,0,2020-03-07T00:00:00Z
513,United Kingdom,GB,,,,55.38,-3.44,273,3,18,0,2020-03-08T00:00:00Z
517,United Kingdom,GB,,,,55.38,-3.44,321,4,18,0,2020-03-09T00:00:00Z
532,United Kingdom,GB,,,,55.38,-3.44,382,6,18,0,2020-03-10T00:00:00Z
546,United Kingdom,GB,,,,55.38,-3.44,456,8,18,0,2020-03-11T00:00:00Z
550,United Kingdom,GB,,,,55.38,-3.44,456,8,18,0,2020-03-12T00:00:00Z
565,United Kingdom,GB,,,,55.38,-3.44,798,8,18,0,2020-03-13T00:00:00Z
579,United Kingdom,GB,,,,55.38,-3.44,1140,21,18,0,2020-03-14T00:00:00Z
583,United Kingdom,GB,,,,55.38,-3.44,1140,21,18,0,2020-03-15T00:00:00Z
598,United Kingdom,GB,,,,55.38,-3.44,1543,55,20,0,2020-03-16T00:00:00Z
613,United Kingdom,GB,,,,55.38,-3.44,1950,55,52,0,2020-03-17T00:00:00Z
616,United Kingdom,GB,,,,55.38,-3.44,2626,71,65,0,2020-03-18T00:00:00Z
631,United Kingdom,GB,,,,55.38,-3.44,2689,137,65,0,2020-03-19T00:00:00Z
646,United Kingdom,GB,,,,55.38,-3.44,3983,177,65,0,2020-03-20T00:00:00Z
649,United Kingdom,GB,,,,55.38,-3.44,5018,233,65,0,2020-03-21T00:00:00Z
664,United Kingdom,GB,,,,55.38,-3.44,5683,281,65,0,2020-03-22T00:00:00Z
679,United Kingdom,GB,,,,55.38,-3.44,6650,335,65,0,2020-03-23T00:00:00Z
682,United Kingdom,GB,,,,55.38,-3.44,8077,422,135,0,2020-03-24T00:00:00Z
697,United Kingdom,GB,,,,55.38,-3.44,9529,465,135,0,2020-03-25T00:00:00Z
712,United Kingdom,GB,,,,55.38,-3.44,11658,578,135,0,2020-03-26T00:00:00Z
715,United Kingdom,GB,,,,55.38,-3.44,14543,759,135,0,2020-03-27T00:00:00Z
730,United Kingdom,GB,,,,55.38,-3.44,17089,1019,135,0,2020-03-28T00:00:00Z
745,United Kingdom,GB,,,,55.38,-3.44,19522,1228,135,0,2020-03-29T00:00:00Z
748,United Kingdom,GB,,,,55.38,-3.44,22141,1408,135,0,2020-03-30T00:00:00Z
763,United Kingdom,GB,,,,55.38,-3.44,25150,1789,135,0,2020-03-31T00:00:00Z
778,United Kingdom,GB,,,,55.38,-3.44,29474,2352,135,0,2020-04-01T00:00:00Z
781,United Kingdom,GB,,,,55.38,-3.44,33718,2921,135,0,2020-04-02T00:00:00Z
796,United Kingdom,GB,,,,55.38,-3.44,38168,3605,135,0,2020-04-03T00:00:00Z
811,United Kingdom,GB,,,,55.38,-3.44,41903,4313,135,0,2020-04-04T00:00:00Z
814,United Kingdom,GB,,,,55.38,-3.44,47806,4934,135,0,2020-04-05T00:00:00Z
829,United Kingdom,GB,,,,55.38,-3.44,51608,5373,135,0,2020-04-06T00:00:00Z
844,United Kingdom,GB,,,,55.38,-3.44,55242,6159,135,0,2020-04-07T00:00:00Z
847,United Kingdom,GB,,,,55.38,-3.44,60733,7097,135,0,2020-04-08T00:00:00Z
862,United Kingdom,GB,,,,55.38,-3.44,65077,7978,135,0,2020-04-09T00:00:00Z
877,United Kingdom,GB,,,,55.38,-3.44,73758,8958,344,0,2020-04-10T00:00:00Z
880,United Kingdom,GB,,,,55.38,-3.44,78991,9875,344,0,2020-04-11T00:00:00Z
895,United Kingdom,GB,,,,55.38,-3.44,84279,10612,344,0,2020-04-12T00:00:00Z
910,United Kingdom,GB,,,,55.38,-3.44,88621,11329,0,0,2020-04-13T00:00:00Z
913,United Kingdom,GB,,,,55.38,-3.44,93873,12107,0,0,2020-04-14T00:00:00Z
928,United Kingdom,GB,,,,55.38,-3.44,98476,12868,0,0,2020-04-15T00:00:00Z
943,United Kingdom,GB,,,,55.38,-3.44,103093,13729,0,0,2020-04-16T00:00:00Z
946,United Kingdom,GB,,,,55.38,-3.44,108692,14576,0,0,2020-04-17T00:00:00Z
961,United Kingdom,GB,,,,55.38,-3.44,114217,15464,0,0,2020-04-18T00:00:00Z
976,United Kingdom,GB,,,,55.38,-3.44,120067,16060,0,0,2020-04-19T00:00:00Z
979,United Kingdom,GB,,,,55.38,-3.44,124743,16509,0,0,2020-04-20T00:00:00Z
994,United Kingdom,GB,,,,55.38,-3.44,129044,17337,0,0,2020-04-21T00:00:00Z
1009,United Kingdom,GB,,,,55.38,-3.44,133495,18100,0,0,2020-04-22T00:00:00Z
1012,United Kingdom,GB,,,,55.38,-3.44,138078,18738,0,0,2020-04-23T00:00:00Z

In [5]:
data['Date'] = pd.to_datetime(data['Date'], format = '%Y-%m-%dT%H:%M:%SZ')

In [15]:
yesterday = datetime.date(datetime.today() - timedelta(1))
filter_country = data['Country'] == 'United States of America'
filter_date = data['Date'] == str(yesterday)
filter_province = data['Province'] == ''

TypeError: list indices must be integers or slices, not str